/* Basisstijl voor de tekstcontainer */
.tekst-container {
    padding-bottom: 150px;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 78vh;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-level-menu {
    display: flex; 
    background: #00a8ff;
    padding: 0;
}

.top-level-menu > li {
    position: relative; 
    width: 150px;
    text-align: center;
}

.top-level-menu > li a {
    display: block;
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 30px;
    background: #00a8ff;
}

.top-level-menu > li a:hover {
    background: #CCCCCC;
    color: #000000;
}


.second-level-menu {
    position: absolute; 
    top: 100%;
    left: 0;
    width: 150px;
    display: none; 
    background: #00a8ff;
    z-index: 10; 
}

.second-level-menu > li {
    text-align: left;
}

.second-level-menu > li a {
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    background: #00a8ff;
}

.second-level-menu > li a:hover {
    background: #CCCCCC;
    color: #000000;
}

.top-level-menu > li:hover .second-level-menu {
    display: block; 
}
</style>