.tekst-container {
    padding-bottom: 150px;
    padding-top: 39px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 78vh; /* let op: verbeterd van 'Min-heigt' */
    box-sizing: border-box; /* let op: verbeterd van 'Box-sizing' */
}

/* Submenu-instellingen */
.second-level-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Blijft verborgen totdat je erover hovert */
}

.second-level-menu > li {
    position: relative;
    height: 30px;
    background: #00a8ff;
}
.second-level-menu > li:hover {
    background: #CCCCCC;
}

/* Hoofdmenu-instellingen */
.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li {
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #00a8ff;
}
.top-level-menu > li:hover {
    background: #CCCCCC;
}

/* Submenu tonen bij hover */
.top-level-menu li:hover > .second-level-menu {
    display: block; /* Verbeterd van 'display: inline' naar 'display: block' */
}

/* Stijl voor de links in het menu */
.top-level-menu a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}

.top-level-menu a:hover {
    color: #000000;
}
