/* Basisstijl voor de tekstcontainer */
.tekst-container {
    padding-bottom: 150px;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 78vh;
    box-sizing: border-box;
}

/* Stijlen voor het hoofdmenu */
.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li {
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #00a8ff;
    text-align: center;
}

.top-level-menu > li:hover {
    background: #CCCCCC;
}

/* Stijlen voor de links */
.top-level-menu a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.top-level-menu a:hover {
    color: #000000;
}

/* Submenu (second-level-menu) stijl */
.second-level-menu {
    position: absolute;
    top: 100%; /* Zet onder het hoofdmenu */
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Verberg standaard */
    background: #00a8ff;
}

.second-level-menu > li {
    height: 30px;
}

.second-level-menu > li:hover {
    background: #CCCCCC;
}

/* Toon het submenu wanneer je over het bovenliggende item zweeft */
.top-level-menu > li:hover .second-level-menu {
    display: block;
}

